<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd  
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop.xsd 
	http://www.springframework.org/schema/tx  
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<!-- 事物管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<!-- 依赖sessionFactory工厂 -->
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- 事物控制增强 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<!-- 默认runtimeException异常才回滚 -->
		<tx:attributes>
			<tx:method name="insert*" propagation="REQUIRED"/>		
			<tx:method name="delete*" propagation="REQUIRED"/>		
			<tx:method name="update*" propagation="REQUIRED"/>		
			<tx:method name="find*" propagation="SUPPORTS" read-only="true"/>		
			<tx:method name="get*" propagation="SUPPORTS" read-only="true"/>		
		</tx:attributes>
	</tx:advice>
	<!-- aop配置 -->
	<aop:config>
		<!-- pointcut必须找到对应的service  影响是否能生成代理对象 -->	
		<aop:advisor advice-ref="txAdvice" pointcut="execution(* cn.itcast.tpms.service.impl.*.*(..))"/>
	</aop:config>
	
</beans>